In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('S1901.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'S1901.csv'

In [5]:
df

NameError: name 'df' is not defined

In [ ]:
# Store the first row (descriptive headers)
header_row = df.iloc[0]

# Generate new column names by combining original column names with the descriptive headers
new_column_names = []
columns_to_drop_at_start = [] # For columns like 'Unnamed: 130'
for col in df.columns:
    desc_value = header_row[col]
    if pd.isna(desc_value) or not isinstance(desc_value, str):
        # If descriptive value is NaN or not a string, just use the original column name
        columns_to_drop_at_start.append(col) # Mark for dropping the original column name
        new_column_names.append(col) # Keep original name for now for df.columns assignment
    else:
        # Combine original column name with the descriptive value
        new_column_names.append(f"{desc_value.replace('!',' ')}")

# Assign the new column names to the DataFrame
df.columns = new_column_names

# Identify columns to drop based on new column names
moe_cols = [col for col in df.columns if 'Margin of Error' in col]
pa_cols = [col for col in df.columns if 'PERCENT ALLOCATED' in col]
dol_cols = [col for col in df.columns if '$' in col]

# Combine all columns to drop into a single list, ensuring no duplicates
# This correctly handles columns that are both 'Margin of Error' and 'PERCENT ALLOCATED'
all_cols_to_drop = list(set(moe_cols + pa_cols + dol_cols + columns_to_drop_at_start))

# Drop all identified columns in a single operation
df = df.drop(columns=all_cols_to_drop)

# Drop the first row (which was the descriptive header row)
df = df.iloc[1:].copy()

display(df.head())

,Geography,Geographic Area Name,Estimate Households Total,Estimate Households Median income (dollars),Estimate Households Mean income (dollars),Estimate Families Total,Estimate Families Median income (dollars),Estimate Families Mean income (dollars),Estimate Married-couple families Total,Estimate Married-couple families Median income (dollars),Estimate Married-couple families Mean income (dollars),Estimate Nonfamily households Total,Estimate Nonfamily households Median income (dollars),Estimate Nonfamily households Mean income (dollars)
1,860Z200US00601,ZCTA5 00601,5611,18571,24781,3799,19801,27150,2294,22054,N,1812,11811,17435
2,860Z200US00602,ZCTA5 00602,12546,21702,30378,8223,26650,35666,5270,27840,N,4323,12907,17806
3,860Z200US00603,ZCTA5 00603,19537,19243,32478,12437,26318,39529,6741,38988,N,7100,12538,18433
4,860Z200US00606,ZCTA5 00606,1871,20226,25125,1207,23138,28716,614,31105,N,664,15958,18057
5,860Z200US00610,ZCTA5 00610,8838,23732,34513,5630,28068,41175,3354,35459,N,3208,14577,19469

In [ ]:
df['Zip_Code'] = df['Geographic Area Name'].str.extract(r'ZCTA5 (\d{5})')

display(df.head())

,Geography,Geographic Area Name,Estimate Households Total,Estimate Households Median income (dollars),Estimate Households Mean income (dollars),Estimate Families Total,Estimate Families Median income (dollars),Estimate Families Mean income (dollars),Estimate Married-couple families Total,Estimate Married-couple families Median income (dollars),Estimate Married-couple families Mean income (dollars),Estimate Nonfamily households Total,Estimate Nonfamily households Median income (dollars),Estimate Nonfamily households Mean income (dollars),Zip_Code
1,860Z200US00601,ZCTA5 00601,5611,18571,24781,3799,19801,27150,2294,22054,N,1812,11811,17435,00601
2,860Z200US00602,ZCTA5 00602,12546,21702,30378,8223,26650,35666,5270,27840,N,4323,12907,17806,00602
3,860Z200US00603,ZCTA5 00603,19537,19243,32478,12437,26318,39529,6741,38988,N,7100,12538,18433,00603
4,860Z200US00606,ZCTA5 00606,1871,20226,25125,1207,23138,28716,614,31105,N,664,15958,18057,00606
5,860Z200US00610,ZCTA5 00610,8838,23732,34513,5630,28068,41175,3354,35459,N,3208,14577,19469,00610

In [ ]:
df = df.drop(columns=['Geography', 'Geographic Area Name'])

# Get all columns except 'Zip_Code'
other_cols = [col for col in df.columns if col != 'Zip_Code']

# Create the new column order with 'Zip_Code' first
new_column_order = ['Zip_Code'] + other_cols

# Reindex the DataFrame with the new column order
df = df[new_column_order]

display(df.head())

,Zip_Code,Estimate Households Total,Estimate Households Median income (dollars),Estimate Households Mean income (dollars),Estimate Families Total,Estimate Families Median income (dollars),Estimate Families Mean income (dollars),Estimate Married-couple families Total,Estimate Married-couple families Median income (dollars),Estimate Married-couple families Mean income (dollars),Estimate Nonfamily households Total,Estimate Nonfamily households Median income (dollars),Estimate Nonfamily households Mean income (dollars)
1,00601,5611,18571,24781,3799,19801,27150,2294,22054,N,1812,11811,17435
2,00602,12546,21702,30378,8223,26650,35666,5270,27840,N,4323,12907,17806
3,00603,19537,19243,32478,12437,26318,39529,6741,38988,N,7100,12538,18433
4,00606,1871,20226,25125,1207,23138,28716,614,31105,N,664,15958,18057
5,00610,8838,23732,34513,5630,28068,41175,3354,35459,N,3208,14577,19469

In [ ]:
df

,Zip_Code,Estimate Households Total,Estimate Households Median income (dollars),Estimate Households Mean income (dollars),Estimate Families Total,Estimate Families Median income (dollars),Estimate Families Mean income (dollars),Estimate Married-couple families Total,Estimate Married-couple families Median income (dollars),Estimate Married-couple families Mean income (dollars),Estimate Nonfamily households Total,Estimate Nonfamily households Median income (dollars),Estimate Nonfamily households Mean income (dollars)
1,00601,5611,18571,24781,3799,19801,27150,2294,22054,N,1812,11811,17435
2,00602,12546,21702,30378,8223,26650,35666,5270,27840,N,4323,12907,17806
3,00603,19537,19243,32478,12437,26318,39529,6741,38988,N,7100,12538,18433
4,00606,1871,20226,25125,1207,23138,28716,614,31105,N,664,15958,18057
5,00610,8838,23732,34513,5630,28068,41175,3354,35459,N,3208,14577,19469
...,...,...,...,...,...,...,...,...,...,...,...,...,...
33768,99923,17,-,N,8,-,N,8,-,N,9,-,N
33769,99925,386,60000,96344,223,89792,106865,157,110625,N,163,33438,75734
33770,99926,441,69464,83973,329,95750,96708,190,128000,N,112,34000,43023
33771,99927,18,-,N,0,-,-,0,-,-,18,-,N
33772,99929,911,64659,81514,498,73800,96602,373,83958,N,413,48125,59867

In [ ]:
df.columns

Index(['Zip_Code', 'Estimate  Households  Total',
       'Estimate  Households  Median income (dollars)',
       'Estimate  Households  Mean income (dollars)',
       'Estimate  Families  Total',
       'Estimate  Families  Median income (dollars)',
       'Estimate  Families  Mean income (dollars)',
       'Estimate  Married-couple families  Total',
       'Estimate  Married-couple families  Median income (dollars)',
       'Estimate  Married-couple families  Mean income (dollars)',
       'Estimate  Nonfamily households  Total',
       'Estimate  Nonfamily households  Median income (dollars)',
       'Estimate  Nonfamily households  Mean income (dollars)'],
      dtype='object')

In [ ]:
z = pd.read_csv('training_zips_ne_ny.csv')
z

      Unnamed: 0    zip
0            137   1001
1            138   1002
2            139   1003
3            140   1005
4            141   1007
...          ...    ...
3667        4402  14898
3668        4403  14901
3669        4404  14903
3670        4405  14904
3671        4406  14905

[3672 rows x 2 columns]

In [ ]:
# Convert both columns to strings and strip spaces
df['Zip_Code'] = df['Zip_Code'].astype(str).str.strip()
z['zip'] = z['zip'].astype(str).str.strip()

# Optional: pad zip codes to 5 digits (if relevant)
df['Zip_Code'] = df['Zip_Code'].str.zfill(5)
z['zip'] = z['zip'].str.zfill(5)

# Filter df
df = df[df['Zip_Code'].isin(z['zip'])]
df

Output hidden; open in https://colab.research.google.com to view.

In [ ]:
len(df)

3670

In [ ]:
df.to_csv('cleaned_income.csv')