In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
age = pd.read_csv('/content/drive/MyDrive/IEOR 4212 Project/Datasets/Training Data for EV Adoption in New England/Cleaned Data/cleaned_age_set.csv')
employment = pd.read_csv('/content/drive/MyDrive/IEOR 4212 Project/Datasets/Training Data for EV Adoption in New England/Cleaned Data/cleaned_employement.csv')
housing = pd.read_csv('/content/drive/MyDrive/IEOR 4212 Project/Datasets/Training Data for EV Adoption in New England/Cleaned Data/cleaned_housing (1).csv')
income = pd.read_csv('/content/drive/MyDrive/IEOR 4212 Project/Datasets/Training Data for EV Adoption in New England/Cleaned Data/cleaned_income.csv')

In [ ]:
age

,Unnamed: 0,zip,Estimate!!Male!!Total population!!AGE!!Under 5 years,Estimate!!Male!!Total population!!AGE!!5 to 9 years,Estimate!!Male!!Total population!!AGE!!10 to 14 years,Estimate!!Male!!Total population!!AGE!!15 to 19 years,Estimate!!Male!!Total population!!AGE!!20 to 24 years,Estimate!!Male!!Total population!!AGE!!25 to 29 years,Estimate!!Male!!Total population!!AGE!!30 to 34 years,Estimate!!Male!!Total population!!AGE!!35 to 39 years,...,Estimate!!Female!!Total population!!AGE!!40 to 44 years,Estimate!!Female!!Total population!!AGE!!45 to 49 years,Estimate!!Female!!Total population!!AGE!!50 to 54 years,Estimate!!Female!!Total population!!AGE!!55 to 59 years,Estimate!!Female!!Total population!!AGE!!60 to 64 years,Estimate!!Female!!Total population!!AGE!!65 to 69 years,Estimate!!Female!!Total population!!AGE!!70 to 74 years,Estimate!!Female!!Total population!!AGE!!75 to 79 years,Estimate!!Female!!Total population!!AGE!!80 to 84 years,Estimate!!Female!!Total population!!AGE!!85 years and over
0,0,1001,430,338,411,417,418,700,436,578,...,537,494,602,426,758,428,625,436,284,378
1,1,1002,295,465,466,1141,3825,749,389,588,...,608,672,492,715,575,692,670,413,195,298
2,2,1003,0,0,0,3214,2334,46,1,0,...,0,0,6,0,18,0,0,0,0,0
3,3,1005,51,45,398,124,47,276,181,111,...,107,218,212,101,319,27,151,90,37,70
4,4,1007,386,318,538,482,370,420,349,412,...,610,374,542,641,623,634,540,216,104,253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3665,3665,14898,41,76,24,63,105,20,15,22,...,31,42,42,60,60,45,78,4,24,2
3666,3666,14901,308,504,476,685,436,624,613,532,...,354,405,517,461,426,563,324,195,152,147
3667,3667,14903,229,163,127,242,102,229,194,191,...,246,230,327,272,261,291,190,118,27,74
3668,3668,14904,312,256,423,460,561,386,788,563,...,506,241,262,577,533,531,228,314,290,172
3669,3669,14905,238,222,328,276,128,282,276,238,...,252,400,389,215,295,332,221,189,157,64

In [ ]:
employment

,Unnamed: 0,Estimate!!EMPLOYMENT STATUS!!Population 16 years and over,Estimate!!EMPLOYMENT STATUS!!Population 16 years and over!!In labor force,Estimate!!EMPLOYMENT STATUS!!Population 16 years and over!!In labor force!!Civilian labor force,Estimate!!EMPLOYMENT STATUS!!Population 16 years and over!!In labor force!!Civilian labor force!!Employed,Estimate!!EMPLOYMENT STATUS!!Population 16 years and over!!In labor force!!Civilian labor force!!Unemployed,Estimate!!EMPLOYMENT STATUS!!Population 16 years and over!!In labor force!!Armed Forces,Estimate!!EMPLOYMENT STATUS!!Population 16 years and over!!Not in labor force,Estimate!!EMPLOYMENT STATUS!!Civilian labor force,Estimate!!EMPLOYMENT STATUS!!Females 16 years and over,...,"Estimate!!INDUSTRY!!Civilian employed population 16 years and over!!Educational services, and health care and social assistance","Estimate!!INDUSTRY!!Civilian employed population 16 years and over!!Arts, entertainment, and recreation, and accommodation and food services","Estimate!!INDUSTRY!!Civilian employed population 16 years and over!!Other services, except public administration",Estimate!!INDUSTRY!!Civilian employed population 16 years and over!!Public administration,Estimate!!CLASS OF WORKER!!Civilian employed population 16 years and over,Estimate!!CLASS OF WORKER!!Civilian employed population 16 years and over!!Private wage and salary workers,Estimate!!CLASS OF WORKER!!Civilian employed population 16 years and over!!Government workers,Estimate!!CLASS OF WORKER!!Civilian employed population 16 years and over!!Self-employed in own not incorporated business workers,Estimate!!CLASS OF WORKER!!Civilian employed population 16 years and over!!Unpaid family workers,Zip_code
0,132,13464,8527,8503,8141,362,24,4937,8503,7246,...,2269,567,258,434,8141,6364,1355,422,0,1001
1,133,26595,16974,16974,15669,1305,0,9621,16974,13585,...,8107,1694,592,275,15669,10234,4546,889,0,1002
2,134,11588,4713,4713,3765,948,0,6875,4713,5679,...,2115,746,54,48,3765,2059,1656,50,0,1003
3,135,4421,2945,2945,2831,114,0,1476,2945,2350,...,726,228,472,82,2831,2144,482,205,0,1005
4,136,12259,8796,8796,8480,316,0,3463,8796,6348,...,3439,512,361,575,8480,5662,2381,437,0,1007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3592,4347,1244,725,725,670,55,0,519,725,637,...,139,13,19,25,670,473,87,110,0,14898
3593,4348,12630,5375,5375,4797,578,0,7255,5375,5733,...,1428,542,237,544,4797,3672,889,223,13,14901
3594,4349,5899,3910,3884,3722,162,26,1989,3884,3066,...,1075,271,135,213,3722,2891,637,151,43,14903
3595,4350,12032,8090,8090,7609,481,0,3942,8090,6179,...,2012,764,357,264,7609,5855,1091,635,28,14904
3596,4351,6650,4512,4512,4229,283,0,2138,4512,3854,...,1401,502,297,155,4229,3262,774,184,9,14905

In [ ]:
income

,Unnamed: 0,Zip_Code,Estimate Households Total,Estimate Households Median income (dollars),Estimate Households Mean income (dollars),Estimate Families Total,Estimate Families Median income (dollars),Estimate Families Mean income (dollars),Estimate Married-couple families Total,Estimate Married-couple families Median income (dollars),Estimate Married-couple families Mean income (dollars),Estimate Nonfamily households Total,Estimate Nonfamily households Median income (dollars),Estimate Nonfamily households Mean income (dollars)
0,133,1001,6813,71924,98266,3952,104744,122115,2922,118063,N,2861,46145,58370
1,134,1002,9715,69411,111345,4331,139955,171271,3489,159602,N,5384,34983,60303
2,135,1003,34,-,169656,24,-,222854,24,-,N,10,-,N
3,136,1005,1688,97390,106114,1260,110603,114870,946,125635,N,428,59559,68449
4,137,1007,6429,99056,113840,4382,126993,134035,3431,131528,N,2047,53313,64198
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3665,4396,14898,521,56188,76715,397,59315,82616,310,84375,N,124,40769,47154
3666,4397,14901,5550,40524,52528,2743,47849,60616,1466,70658,N,2807,29564,42986
3667,4398,14903,3071,66142,99421,1751,80398,102963,1286,101630,N,1320,47727,90075
3668,4399,14904,6419,54563,71472,3411,74594,85962,2103,91635,N,3008,34360,50598
3669,4400,14905,3859,85888,96468,2494,94959,108763,1730,122829,N,1365,50481,70876

In [ ]:
age_df = age.rename(columns={'zip': 'zip_code'})
if 'Unnamed: 0' in age_df.columns:
    age_df = age_df.drop(columns=['Unnamed: 0'])

employment_df = employment.rename(columns={'Zip_code': 'zip_code'})
if 'Unnamed: 0' in employment_df.columns:
    employment_df = employment_df.drop(columns=['Unnamed: 0'])

income_df = income.rename(columns={'Zip_Code': 'zip_code'})
if 'Unnamed: 0' in income_df.columns:
    income_df = income_df.drop(columns=['Unnamed: 0'])

housing_df = housing.rename(columns={'Zip_code': 'zip_code'})
if 'Unnamed: 0' in housing_df.columns:
    housing_df = housing_df.drop(columns=['Unnamed: 0'])

# housing_grouped already has zip_code as index, convert to column
#housing_grouped_df = housing_grouped.reset_index()

# Merge dataframes
df = pd.merge(age_df, employment_df, on='zip_code', how='outer')
df = pd.merge(df, housing_df, on='zip_code', how='inner')
df = pd.merge(df, income_df, on='zip_code', how='outer')

# Clean column names: replace '!!' with space and '!' with empty string
df.columns = df.columns.str.replace('!!', ' ', regex=False)
df.columns = df.columns.str.replace('!', '', regex=False)

print("Shape of the final merged dataframe:", df.shape)
display(df.head())

import numpy as np

df = df.replace("-", np.nan)
df = df.replace("N", np.nan)
df = df.replace("250,000+", 250000)
df = df.replace("250,000-", 250000)

Shape of the final merged dataframe: (3670, 153)

,zip_code,Estimate Male Total population AGE Under 5 years,Estimate Male Total population AGE 5 to 9 years,Estimate Male Total population AGE 10 to 14 years,Estimate Male Total population AGE 15 to 19 years,Estimate Male Total population AGE 20 to 24 years,Estimate Male Total population AGE 25 to 29 years,Estimate Male Total population AGE 30 to 34 years,Estimate Male Total population AGE 35 to 39 years,Estimate Male Total population AGE 40 to 44 years,...,Estimate Households Mean income (dollars),Estimate Families Total,Estimate Families Median income (dollars),Estimate Families Mean income (dollars),Estimate Married-couple families Total,Estimate Married-couple families Median income (dollars),Estimate Married-couple families Mean income (dollars),Estimate Nonfamily households Total,Estimate Nonfamily households Median income (dollars),Estimate Nonfamily households Mean income (dollars)
0,1001,430.0,338.0,411.0,417.0,418.0,700.0,436.0,578.0,424.0,...,98266,3952,104744,122115,2922,118063,N,2861,46145,58370
1,1002,295.0,465.0,466.0,1141.0,3825.0,749.0,389.0,588.0,491.0,...,111345,4331,139955,171271,3489,159602,N,5384,34983,60303
2,1003,0.0,0.0,0.0,3214.0,2334.0,46.0,1.0,0.0,0.0,...,169656,24,-,222854,24,-,N,10,-,N
3,1005,51.0,45.0,398.0,124.0,47.0,276.0,181.0,111.0,84.0,...,106114,1260,110603,114870,946,125635,N,428,59559,68449
4,1007,386.0,318.0,538.0,482.0,370.0,420.0,349.0,412.0,488.0,...,113840,4382,126993,134035,3431,131528,N,2047,53313,64198

In [ ]:
# Clean Dataframe file
nan_counts = df.isna().sum(axis=1)
df = df[nan_counts < 50]

In [ ]:
df = df.drop(columns=['Estimate  Married-couple families  Mean income (dollars)'])

In [ ]:
nan_counts = df.isna().sum(axis=1)
nan_counts.value_counts()

0    3515
Name: count, dtype: int64

In [ ]:
df

,zip_code,Estimate Male Total population AGE Under 5 years,Estimate Male Total population AGE 5 to 9 years,Estimate Male Total population AGE 10 to 14 years,Estimate Male Total population AGE 15 to 19 years,Estimate Male Total population AGE 20 to 24 years,Estimate Male Total population AGE 25 to 29 years,Estimate Male Total population AGE 30 to 34 years,Estimate Male Total population AGE 35 to 39 years,Estimate Male Total population AGE 40 to 44 years,...,Estimate Households Median income (dollars),Estimate Households Mean income (dollars),Estimate Families Total,Estimate Families Median income (dollars),Estimate Families Mean income (dollars),Estimate Married-couple families Total,Estimate Married-couple families Median income (dollars),Estimate Nonfamily households Total,Estimate Nonfamily households Median income (dollars),Estimate Nonfamily households Mean income (dollars)
0,1001,430.0,338.0,411.0,417.0,418.0,700.0,436.0,578.0,424.0,...,71924,98266,3952,104744,122115,2922,118063,2861,46145,58370
1,1002,295.0,465.0,466.0,1141.0,3825.0,749.0,389.0,588.0,491.0,...,69411,111345,4331,139955,171271,3489,159602,5384,34983,60303
2,1003,0.0,0.0,0.0,3214.0,2334.0,46.0,1.0,0.0,0.0,...,NaN,169656,24,NaN,222854,24,NaN,10,NaN,NaN
3,1005,51.0,45.0,398.0,124.0,47.0,276.0,181.0,111.0,84.0,...,97390,106114,1260,110603,114870,946,125635,428,59559,68449
4,1007,386.0,318.0,538.0,482.0,370.0,420.0,349.0,412.0,488.0,...,99056,113840,4382,126993,134035,3431,131528,2047,53313,64198
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3665,14898,41.0,76.0,24.0,63.0,105.0,20.0,15.0,22.0,56.0,...,56188,76715,397,59315,82616,310,84375,124,40769,47154
3666,14901,308.0,504.0,476.0,685.0,436.0,624.0,613.0,532.0,561.0,...,40524,52528,2743,47849,60616,1466,70658,2807,29564,42986
3667,14903,229.0,163.0,127.0,242.0,102.0,229.0,194.0,191.0,157.0,...,66142,99421,1751,80398,102963,1286,101630,1320,47727,90075
3668,14904,312.0,256.0,423.0,460.0,561.0,386.0,788.0,563.0,494.0,...,54563,71472,3411,74594,85962,2103,91635,3008,34360,50598
3669,14905,238.0,222.0,328.0,276.0,128.0,282.0,276.0,238.0,260.0,...,85888,96468,2494,94959,108763,1730,122829,1365,50481,70876

In [ ]:
for col in df.columns:
  if col == "zip_code":
    continue
  else:
    col_mean = df[col].astype(float).mean()
    df[col].fillna(col_mean, inplace=True)

/tmp/ipython-input-2971813679.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(col_mean, inplace=True)
/tmp/ipython-input-2971813679.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(col_mean, inplace=True)
/tmp/ipython-input-2971813679.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(col_mean, inplace=True)
/tmp/ipython-input-2971813679.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(col_mean, inplace=True)
/tmp/ipython-input-2971813679.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(col_mean, inplace=True)
/tmp/ipython-input-2971813679.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(col_mean, inplace=True)
/tmp/ipython-input-2971813679.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(col_mean, inplace=True)
/tmp/ipython-input-2971813679.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(col_mean, inplace=True)
/tmp/ipython-input-2971813679.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(col_mean, inplace=True)
/tmp/ipython-input-2971813679.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(col_mean, inplace=True)
/tmp/ipython-input-2971813679.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(col_mean, inplace=True)
/tmp/ipython-input-2971813679.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(col_mean, inplace=True)
/tmp/ipython-input-2971813679.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(col_mean, inplace=True)
/tmp/ipython-input-2971813679.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(col_mean, inplace=True)
/tmp/ipython-input-2971813679.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(col_mean, inplace=True)
/tmp/ipython-input-2971813679.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(col_mean, inplace=True)
/tmp/ipython-input-2971813679.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(col_mean, inplace=True)
/tmp/ipython-input-2971813679.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(col_mean, inplace=True)
/tmp/ipython-input-2971813679.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(col_mean, inplace=True)
/tmp/ipython-input-2971813679.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(col_mean, inplace=True)
/tmp/ipython-input-2971813679.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(col_mean, inplace=True)
/tmp/ipython-input-2971813679.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(col_mean, inplace=True)
/tmp/ipython-input-2971813679.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(col_mean, inplace=True)
/tmp/ipython-input-2971813679.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(col_mean, inplace=True)
/tmp/ipython-input-2971813679.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(col_mean, inplace=True)
/tmp/ipython-input-2971813679.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(col_mean, inplace=True)
/tmp/ipython-input-2971813679.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(col_mean, inplace=True)
/tmp/ipython-input-2971813679.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(col_mean, inplace=True)
/tmp/ipython-input-2971813679.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(col_mean, inplace=True)
/tmp/ipython-input-2971813679.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(col_mean, inplace=True)
/tmp/ipython-input-2971813679.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(col_mean, inplace=True)
/tmp/ipython-input-2971813679.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(col_mean, inplace=True)
/tmp/ipython-input-2971813679.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(col_mean, inplace=True)
/tmp/ipython-input-2971813679.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.



In [ ]:
df = df.replace("2,500-", 2500)

In [ ]:
# Get NY Zipcodes
ny_zips = pd.read_csv('/content/drive/MyDrive/IEOR 4212 Project/Datasets/uszips.csv')
ny_zips = ny_zips[ny_zips['state_id'] == 'NY']
ny_zips

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
1838,6390,41.27027,-71.98886,Fishers Island,NY,New York,True,NaN,53.0,5.1,36103,Suffolk,"{""36103"": 100}",Suffolk,36103,False,False,America/New_York
2582,10001,40.75064,-73.99728,New York,NY,New York,True,NaN,29079.0,17997.9,36061,New York,"{""36061"": 100}",New York,36061,False,False,America/New_York
2583,10002,40.71597,-73.98692,New York,NY,New York,True,NaN,75517.0,35458.5,36061,New York,"{""36061"": 100}",New York,36061,False,False,America/New_York
2584,10003,40.73184,-73.98915,New York,NY,New York,True,NaN,53825.0,36357.3,36061,New York,"{""36061"": 100}",New York,36061,False,False,America/New_York
2585,10004,40.69431,-74.01835,New York,NY,New York,True,NaN,3875.0,3284.1,36061,New York,"{""36061"": 100}",New York,36061,False,False,America/New_York
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4402,14898,42.05729,-77.43482,Woodhull,NY,New York,True,NaN,1501.0,9.5,36101,Steuben,"{""36101"": 100}",Steuben,36101,False,False,America/New_York
4403,14901,42.07363,-76.74137,Elmira,NY,New York,True,NaN,14430.0,167.8,36015,Chemung,"{""36015"": 100}",Chemung,36015,False,False,America/New_York
4404,14903,42.12372,-76.87771,Elmira,NY,New York,True,NaN,7140.0,127.4,36015,Chemung,"{""36015"": 100}",Chemung,36015,False,False,America/New_York
4405,14904,42.07007,-76.80798,Elmira,NY,New York,True,NaN,14276.0,854.7,36015,Chemung,"{""36015"": 100}",Chemung,36015,False,False,America/New_York
4406,14905,42.08692,-76.84284,Elmira,NY,New York,True,NaN,8976.0,934.0,36015,Chemung,"{""36015"": 100}",Chemung,36015,False,False,America/New_York

In [ ]:
df['zip_code'] = df['zip_code'].astype(str).str.strip().str.zfill(5)
ny_zips['zip'] = (ny_zips['zip'].astype(float).astype('Int64').astype(str).str.zfill(5))

train_zip = set(ny_zips.loc[ny_zips['state_id'] == 'NY', 'zip'])
test_zip = set(df['zip_code']) - train_zip

In [ ]:
train = df[df['zip_code'].isin(train_zip)]
test  = df[df['zip_code'].isin(test_zip)]

In [ ]:
train.drop(columns=["zip"], inplace=True)

KeyError: "['zip'] not found in axis"

In [ ]:
test.drop(columns=["zip", "Estimate Married-couple families Mean income (dollars)"], inplace=True)

KeyError: "['zip', 'Estimate Married-couple families Mean income (dollars)'] not found in axis"

In [ ]:
target = pd.read_excel("/content/drive/MyDrive/IEOR 4212 Project/Datasets/EVs on the Road by ZIP Code.xlsx")
target['ZIP Code'] = (target['ZIP Code'].astype(float).astype('Int64').astype(str).str.zfill(5))

merged_data = pd.merge(df, target, left_on="zip_code", right_on="ZIP Code")
merged_data.to_csv("model_creation_data.csv")

In [ ]:
merged_data.drop(columns=['ZIP Code'], inplace=True)

,zip_code,Estimate Male Total population AGE Under 5 years,Estimate Male Total population AGE 5 to 9 years,Estimate Male Total population AGE 10 to 14 years,Estimate Male Total population AGE 15 to 19 years,Estimate Male Total population AGE 20 to 24 years,Estimate Male Total population AGE 25 to 29 years,Estimate Male Total population AGE 30 to 34 years,Estimate Male Total population AGE 35 to 39 years,Estimate Male Total population AGE 40 to 44 years,...,Estimate Households Median income (dollars),Estimate Households Mean income (dollars),Estimate Families Total,Estimate Families Median income (dollars),Estimate Families Mean income (dollars),Estimate Married-couple families Total,Estimate Married-couple families Median income (dollars),Estimate Nonfamily households Total,Estimate Nonfamily households Median income (dollars),Estimate Nonfamily households Mean income (dollars)
0,01001,430.0,338.0,411.0,417.0,418.0,700.0,436.0,578.0,424.0,...,71924,98266,3952,104744,122115,2922,118063,2861,46145,58370
1,01002,295.0,465.0,466.0,1141.0,3825.0,749.0,389.0,588.0,491.0,...,69411,111345,4331,139955,171271,3489,159602,5384,34983,60303
2,01003,0.0,0.0,0.0,3214.0,2334.0,46.0,1.0,0.0,0.0,...,92928.762361,169656,24,113481.02782,222854,24,127023.467845,10,54029.940274,72576.661823
3,01005,51.0,45.0,398.0,124.0,47.0,276.0,181.0,111.0,84.0,...,97390,106114,1260,110603,114870,946,125635,428,59559,68449
4,01007,386.0,318.0,538.0,482.0,370.0,420.0,349.0,412.0,488.0,...,99056,113840,4382,126993,134035,3431,131528,2047,53313,64198
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1842,06902,2170.0,1496.0,1616.0,1903.0,2678.0,4040.0,3205.0,2682.0,2257.0,...,92527,144706,17181,99756,154166,11020,125185,11211,77518,124359
1843,06903,284.0,451.0,254.0,367.0,505.0,335.0,169.0,372.0,271.0,...,203438,293056,4021,230524,319370,3714,236944,815,100678,156572
1844,06905,509.0,534.0,625.0,444.0,475.0,946.0,735.0,680.0,614.0,...,132730,166127,4782,144018,209597,3989,168831,3384,79464,102984
1845,06906,428.0,387.0,282.0,502.0,186.0,319.0,450.0,356.0,452.0,...,91710,130667,2389,92436,128272,1680,118611,1038,80724,121371
1846,06907,298.0,230.0,132.0,169.0,412.0,364.0,320.0,219.0,321.0,...,104526,143682,2629,121894,153458,1575,173429,896,82800,110348

In [ ]:
merged_data.to_csv("model_creation_data.csv")

In [ ]:
test.to_csv('model_prediction_data.csv', index=False)

In [ ]:
train.to_csv('train.csv', index=False)
test.to_csv('test.csv', index=False)