In [4]:
import pandas as pd
df = pd.read_excel('forecast_data_2025.xlsx',  sheet_name='3 Monthly Peaks')
print(df.head())

  Region  Year  Month Coincidence  Percentile   Base   EV    HP  Gross  BTMPV  \
0  ISONE  2025      1          CP          50  19571  117   319  20006      4
1  ISONE  2026      1          CP          50  19591  172   415  20178      1
2  ISONE  2027      1          CP          50  19611  232   623  20467     10
3  ISONE  2028      1          CP          50  19621  358   907  20887     24
4  ISONE  2029      1          CP          50  19636  503  1250  21388     54

     Net
0  20003
1  20177
2  20457
3  20863
4  21335

In [5]:
df

,Region,Year,Month,Coincidence,Percentile,Base,EV,HP,Gross,BTMPV,Net
0,ISONE,2025,1,CP,50,19571,117,319,20006,4,20003
1,ISONE,2026,1,CP,50,19591,172,415,20178,1,20177
2,ISONE,2027,1,CP,50,19611,232,623,20467,10,20457
3,ISONE,2028,1,CP,50,19621,358,907,20887,24,20863
4,ISONE,2029,1,CP,50,19636,503,1250,21388,54,21335
...,...,...,...,...,...,...,...,...,...,...,...
2263,WCMA,2041,12,CP,50,2642,541,1068,4251,48,4203
2264,WCMA,2042,12,CP,50,2644,589,1145,4378,67,4311
2265,WCMA,2043,12,CP,50,2645,637,1214,4496,82,4414
2266,WCMA,2044,12,CP,50,2644,687,1272,4603,92,4511
2267,WCMA,2045,12,CP,50,2643,739,1319,4702,97,4604

In [20]:
len(df["Region"].unique())

9

In [21]:
df["Region"].unique()

array(['ISONE', 'CT', 'ME', 'NEMA', 'NH', 'RI', 'SEMA', 'VT', 'WCMA'],
      dtype=object)